body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://rare-gallery.com/uploads/posts/979135-Interstellar-movie-movies-astronaut-sea.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  text-shadow: 2px 2px 5px red;
  margin: 0 0 8px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  margin-top: 5px;
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
